body{
	font-family: Arial, Verdana, helvetica, sans-serif;
	font-size: 14px;
	display: block;
	margin: 0;
	width: 100%;
	height: 100%;
	padding-top: 0px;
	text-align: center;
	background-color: #d7ead9;
}

.div_hd{
	margin-top: 2em;
	padding-bottom: 1em;
	}

header{
	background-color: white;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

h1{
	display: inline-block;
	font-size: 5rem;
	padding-left: 2%;
	color: #27492a;
}

h2{
	font-size: 1.5rem;
	margin-bottom: 0.1rem;
	color: #27492a;
	padding-top: 0.2em;
}

.ptit{
	color: #27492a;
	font-weight: bold;
	margin-bottom: -0.1%;
}

.hitta{
	padding-top: 0;
	margin: auto;
}
nav.nav{
    padding: 1em;
    font-size: 1.2em;
    margin: 0em;
    border-top: 5px solid #27492a;
    border-bottom: 5px solid #27492a;
   }
a.anav{
	display: inline-block;
    width: 140px;
    text-decoration: none;
    }

a.anav:active {text-decoration: underline;}
a.anav:visited {color: black;}
a.anav:hover {text-decoration: underline;}

.div_b1{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

p{
	text-align: left;
	line-height: 1.6em;
	font-size: 1.1rem;
	padding-left: 5%;
	padding-right: 5%;
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;

}

.logo{
	position: relative;
	top: 2rem;
	min-width: 5em;
	max-width: 14em;
}

@media (max-width: 750px){
	p{
		font-size: 1.5em;
	}
	h2{
		font-size: 1.5em;
	}
}

@media (max-width: 500px){
	h1{
		padding-left: 0em;
		font-size: 2em;
		padding-top: .5em;
	}
	.logo{
		width: 2em;
		top: .5em;
	}
}

.start{
	width: 85%;
	max-width: 40em;
	height: auto;
}
.img_sm{
	width: 20%;
	min-width: 5em;
	display: block;
	margin: auto;
}

.map{
	width: 50%;
	height: 50%;
}

.nav2{
	padding-bottom: 2em;
    width: 1300px;
    margin-top: 1em;
    margin-bottom: 1em;
}