body{
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
	margin: 2em;
}

.div_hd{
	padding-left: 3em;
	padding-right: 3em;
	margin: 4em;
}

.logo{
	width: 10%;
	display: inline-block;
	padding-right: 3em;
}

.h1{
	display: inline-block;
	font-size: 2rem;
	font-weight: 750;
	line-height: 1.25px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}

nav.nav{
    padding-left: 3em;
	padding-bottom: 2em;
    width: 1300px;
    margin: 4em;
   }
a.nav:link{
    padding-right: 2em;
    text-align: left;
    color:black;
    text-decoration: none;
    }
a.nav:active {text-decoration: underline;}
a.nav:visited {color: black;}
a.nav:hover {text-decoration: underline;}

.div_b1{
	margin: 4em;
}

p{
	width: 80%;
	line-height: 1.25em;
}

img{
	width: 15%;
	height: 15%;
}

.map{
	width: 50%;
	height: 50%;
}

nav2{
    padding-left: 3em;
	padding-bottom: 2em;
    width: 1300px;
    margin: 4em;
   }